.listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Una empresa de trayectoria con +10 años de experiencia, conectando nuestros clientes con lugares inolvidables.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos únicos 
                    p Descubre lugares únicos con nuestra selección de destinos exclusivos, diseñados para aventureros y amantes del lujo.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Experiencia inigualable 
                    p Creamos itinerarios a la medida de tus gustos y preferencias, garantizando una experiencia memorable.